.main { color: #B0939C; }

.sub { color: #e8dee1; }

.f-color { color: #303030; }

.sf-color { color: #636363; }

.df-color { color: #b0b0b0; }

.btn { outline: none; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 5px; padding: .5rem 1.25rem; margin: 3px; font-size: 1.125rem; color: #B0939C; background: #ffffff; border: 1px solid #B0939C; cursor: pointer; -webkit-transition: .3s; transition: .3s; }

.btn:hover { background-color: white; }

.btn.main { color: #ffffff; background: #B0939C; border: 1px solid #B0939C; }

.btn.main:hover { opacity: .8; -webkit-transition: .3s; transition: .3s; }

.btn.sub { color: #ffffff; background: #e8dee1; border: 1px solid #e8dee1; color: #303030; }

.btn.sub:hover { opacity: .8; -webkit-transition: .3s; transition: .3s; }

.btn_c { margin-top: 4rem; text-align: center; }

.input_c { position: relative; padding: 1rem; border: 1px solid #ededed; }

.input_c.disable { background-color: #f5f5f5; }

.radio_c { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; margin-right: 2.5rem; }

.radio_c input[type="radio"] { border: 1px solid #B0939C; width: 20px; height: 20px; -webkit-box-flex: 20px; -ms-flex: 20px 0 0px; flex: 20px 0 0; margin: 0 5px 0 0; background-color: #ffffff; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.radio_c input[type="radio"]:checked { background: #B0939C; }

.radio_c input[type="radio"]:checked::after { content: ''; display: block; border-radius: 50%; width: 6px; height: 6px; background: #ffffff; position: absolute; }

.checkbox_c { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.checkbox_c input[type="checkbox"] { border: 1px solid #B0939C; width: 18px; height: 18px; -webkit-box-flex: 18px; -ms-flex: 18px 0 0px; flex: 18px 0 0; margin: 0 5px 0 0; background-color: #ffffff; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.checkbox_c input[type="checkbox"]:checked { background-image: url("../images/checkbox_mark.svg"); background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; background-color: #B0939C; }

.select_c { border: 1px solid #ededed; position: relative; z-index: 7; }

.select_c select { padding: 1rem 2rem 1rem 1rem; }

.select_c::after { content: ''; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 6; right: 1rem; width: 0; height: 0; display: block; border-style: solid; border-width: 6.9px 4px 0 4px; border-color: #303030 transparent transparent transparent; }

.page_num { padding: 2rem 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.page_num .pn_item { font-size: 1rem; margin: .75rem; }

.page_num .pn_item.on { margin: .5rem; background: #B0939C; color: #ffffff; border-radius: 4px; width: 2rem; height: 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.page_num .pn_arrow { margin: .5rem; border: 2px solid #ededed; border-radius: 4px; width: 2rem; height: 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; -webkit-transition: .3s; transition: .3s; }

.page_num .pn_arrow:hover { border: 2px solid #636363; -webkit-transition: .3s; transition: .3s; }

.page_num a:hover { text-decoration: underline; }

ul.dot { padding-left: 1.5rem; list-style-type: disc; color: #B0939C; }

ul.dot li { margin-bottom: 1rem; }

ul.dot li * { color: #303030; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ul { list-style: none; }

table { width: 100%; border: 0; border-collapse: collapse; border-spacing: 0; }

select { width: 100%; height: 100%; position: relative; z-index: 7; top: 0; left: 0; background: none; font-size: 1rem; }

select, input, button { -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: 0; border: 0; padding: 0; margin: 0; background: none; color: inherit; font-size: 16px; }

input { width: 100%; }

input[type="submit"] { width: auto; }

textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0; resize: none; outline: 0; font-size: 16px; }

::-webkit-input-placeholder, input::-webkit-input-placeholder, select:invalid, select [disabled] { color: #b0b0b0; }

:-ms-input-placeholder, input:-ms-input-placeholder, select:invalid, select [disabled] { color: #b0b0b0; }

::-ms-input-placeholder, input::-ms-input-placeholder, select:invalid, select [disabled] { color: #b0b0b0; }

::placeholder, input::placeholder, select:invalid, select [disabled] { color: #b0b0b0; }

html, body { width: 100%; height: 100%; line-height: 1.5; font-size: 16px; background-color: white; color: #303030; }

body * { font-family: 'Noto Sans JP', Helvetica, Tahoma, Arial, "PingFang TC", "Microsoft JhengHei", sans-serif; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: .3s; transition: .3s; }

body a { text-decoration: none; color: inherit; }

body a.alink:hover { color: #e8dee1; }

body a.aunder:hover { text-decoration: underline; }

body a.ahover:hover { opacity: .8; -webkit-transition: .3s; transition: .3s; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 2.5rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.75rem; }

h4 { font-size: 1.5rem; }

h5 { font-size: 1.25rem; }

h6 { font-size: 1rem; }

p { font-size: 1rem; }

small { font-size: .75rem; }

ol { padding-left: 1rem; }

.text_l { text-align: left; }

.text_r { text-align: right; }

.text_c { text-align: center; }

.text_j { text-align: justify; }

.text_u { text-decoration: underline; }

.f_bold { font-weight: bold; }

.f_300 { font-weight: 300; }

.f_900 { font-weight: 900; }

.dp_b { display: block; }

.dp_inb { display: inline-block; }

.fz0 { font-size: 0; }

.img_rwd { max-width: 100%; height: auto; }

.inflexbox.inflexbox { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.flexbox.flexbox { display: -webkit-box; display: -ms-flexbox; display: flex; }

.valign_c { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.jc_sb { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.mt_xs { margin-top: .5rem; }

.mt_s { margin-top: 1rem; }

.mt_sm { margin-top: 1.5rem; }

.mt_m { margin-top: 2rem; }

.mt_lg { margin-top: 4rem; }

header { position: fixed; z-index: 8; background: #cccccc; width: 100%; }

nav { max-width: 1280px; width: 100%; margin: 0 auto; }

#banner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: relative; z-index: 4; width: 100%; height: 100vh; background-image: url(../images/banner.jpg); background-size: cover; background-position: 50% 50%; }

#banner::after { content: ''; position: absolute; z-index: 4; display: block; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); -webkit-transition: .3s; transition: .3s; }

#banner:hover::after { -webkit-transition: .3s; transition: .3s; background-color: rgba(0, 0, 0, 0.1); }

#banner:hover .name_c { -webkit-transform: translateY(-5px); transform: translateY(-5px); }

.name_c { position: relative; z-index: 5; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 360px; }

.name { font-size: 8rem; color: white; font-weight: bold; }

.name_txt { color: white; font-weight: 300; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-size: 20px; }

.name_txt span { margin-top: 10px; }

.n_line { position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); background: white; width: 1px; -webkit-animation-name: n_line; animation-name: n_line; -webkit-animation-duration: 2.5s; animation-duration: 2.5s; animation-direction: reverse; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

@-webkit-keyframes n_line { from { height: 0; }
  to { height: 50px; } }

@keyframes n_line { from { height: 0; }
  to { height: 50px; } }

#about { padding: 6rem 4.5rem 9rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; position: relative; }

#about::before { content: ''; display: block; width: 75%; height: 0; padding-top: 40%; position: absolute; top: 0; right: 0; z-index: -1; background-color: #e8dee1; }

.ab_title { text-align: center; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.ab_title h1 { font-size: 60px; }

.ab_box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-flex: 2; -ms-flex: 2; flex: 2; }

.ab_item { padding: 0 1.5rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; }

.ab_item h4 { padding-top: .5rem; margin-bottom: 2rem; }

.ab_item h4 span { margin: 0 .5rem 0 .25rem; font-size: 2rem; }

.ab_item p { text-align: left; }

.ab_item p:not(last-child) { margin-bottom: 1rem; }

.ab_icon { display: inline-block; width: 7.5rem; height: 7.5rem; background-size: 40%; background-position: 50% 50%; background-repeat: no-repeat; border-radius: 50%; background-color: white; -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05); box-shadow: 0 0 30px rgba(0, 0, 0, 0.05); -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; -ms-flex-negative: 0; flex-shrink: 0; }

.title { text-align: center; position: relative; padding-bottom: 10px; }

.title h2 { position: absolute; bottom: -30px; left: 10%; font-size: 3rem; }

#work { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; padding: 3rem 4.5rem 3rem; position: relative; }

#work:before { content: ''; position: absolute; z-index: -1; display: block; width: 80%; height: 100%; background-color: #C3D1D1; top: 0; left: 3rem; }

.w_item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin: 1.5rem; }

.w_item:hover { -webkit-transform: translateY(-5px); transform: translateY(-5px); }

.w_item h5 { margin-top: .5rem; color: #527272; font-weight: normal; }

#contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #303030; color: white; padding: 2rem 3rem; }

#contact:hover { opacity: .95; }

.c_btn { border: 1px solid white; padding: 1rem 5rem 1rem 2rem; background-image: url(../images/icon_mail_c.svg); background-repeat: no-repeat; background-position: calc(100% - 2rem) 50%; background-size: 20px; }

@media screen and (max-width: 1023px) { html, body { font-size: 15px; }
  #about { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #about::before { width: 90%; padding-top: 60%; }
  .ab_title { margin-bottom: 3rem; }
  #work { padding: 3rem 1.5rem 1.5rem; }
  #work::before { left: 0; } }

@media screen and (max-width: 767px) { html, body { font-size: 14px; }
  #about { padding: 6rem 1.5rem 4.5rem; }
  #about::before { width: 60%; padding-top: 80%; }
  .ab_box { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .ab_item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; padding: 0; }
  .ab_con { padding: 0 0 1.5rem 1.5rem; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
  .ab_con h4 { text-align: left; }
  .ab_icon { width: 6rem; height: 6rem; }
  #work { padding: 3rem 1.5rem 1.5rem; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  #work::before { width: 80%; }
  .w_item { -webkit-box-flex: 360px; -ms-flex: 360px 0 0px; flex: 360px 0 0; }
  .w_item img { -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05); box-shadow: 0 0 30px rgba(0, 0, 0, 0.05); }
  #contact { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 2rem 1.5rem; }
  .c_btn { margin-top: 1.5rem; } }

@media screen and (max-width: 414px) { .name_c { width: 300px; }
  .name { font-size: 6rem; }
  .w_item { -webkit-box-flex: 100%; -ms-flex: 100% 0 0px; flex: 100% 0 0; } }
/*# sourceMappingURL=all.css.map */